main {
  background-color: #f6f6f6;
}
.page-two {
  background-color: #f6f6f6;
}
.image-text {
  border-bottom: 1px solid gray;
  border-top: 1px solid grey;
}
.image-text h6 {
  color: #d35266;
}
.end span {
  padding-left: 330px;
  text-align: end;
}
.col-2 a {
  padding-right: 20px;
}
.col-2 div {
  padding-top: 20px;
}
.last-col {
  padding-top: 50px;
}
.first-col {
  padding-top: 40px;
}
.col-1 {
  padding-right: 50px;
}
.button-footer {
  background-color: #f6f6f6;
  width: 70px;
  height: 25px;
}
footer a {
  color: #888888;
}
.col-2 a {
  color: #d35266;
}
footer h5 {
  color: #d35266;
  font-size: 14;
}
.first-col h4 {
  text-align: center;
}
footer .col-12 {
  border-top: 1px solid gray;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .image-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;
  }
  .image-text img {
    margin-right: 30px;
  }
  .one {
    display: flex;
    flex-direction: row;
  }
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #d35266;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
