main {
  background-color: #f6f6f6;
}
.page-two {
  background-color: #f6f6f6;
}
.image-text {
  border-bottom: 1px solid gray;
  border-top: 1px solid grey;
}
.image-text h6 {
  color: #d35266;
}
.end span {
  padding-left: 330px;
  text-align: end;
}
.col-2 a {
  padding-right: 20px;
}
.col-2 div {
  padding-top: 20px;
}
.last-col {
  padding-top: 50px;
  padding-bottom: 20px;
}
.first-col {
  padding-top: 40px;
  padding-bottom: 10px;
}
.col-1 {
  padding-right: 50px;
}
.button-footer {
  background-color: #f6f6f6;
  width: 70px;
  height: 25px;
}
footer a {
  color: #888888;
}
.col-2 a {
  color: #d35266;
}
footer h5 {
  color: #d35266;
  font-size: 14;
}
.first-col h4 {
  text-align: center;
}
footer .col-12 {
  border-top: 1px solid gray;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .image-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;
  }
  .image-text img {
    margin-right: 30px;
  }
}
